{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css_home.css') }}"/>
{% endblock stylesheet %}


<body>
<div class="container">
  <div class="heading">
    <h2>Stocklytics</h2>
    <p>Analyze stocks, deduct insights, buy clever, make money</p>
    </div>

    <div class="form">
    <form action="/stocks_analysis"  method="GET"  onsubmit="admin_button.disabled = true; return true;">
      <button type="submit" class="float" name="admin_button">Administrator</button>
    </form>
    <br>
    <form action="/stocks_analysis"  method="GET" onsubmit="coll_button.disabled = true; return true;">
      <button type="submit" class="float" name="coll_button">Investor</button>
    </form>
    </div>
    </div>


</body>
