{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css_home.css') }}"/>
{% endblock stylesheet %}


<body>

<div>
<div class="container">
  <div class="heading">
    <h1>Stocklytics</h1>
    <p>· Analyze stocks<br>· Deduct insights<br>· Buy clever<br>· Make money</p>
  </div>

  <div class="form">
    <form action="/stocks_analysis"  method="GET"  onsubmit="admin_button.disabled = true; return true;">
      <button type="submit" class="float" name="admin_button">Admin</button>
    </form>

    <form action="/stocks_analysis"  method="GET" onsubmit="coll_button.disabled = true; return true;">
      <button type="submit" class="float" name="coll_button">Investor</button>
    </form>
  </div>
</div>
</div>

</body>
